@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the layout spans the viewport */
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Fills available space between Navbar and Footer */
}
